.application_area{
    display: flex;       /* フレックスボックスにする */
    /* width: 1300px;
    height: 100%; */
    /* background-color: #eee; */
}

.textbox{
    background-color: #eee; /* 背景色指定 */
    margin: 0px 10px 0px 0px; 
    width: 220px;
}

.menu{
    /* float: left; */
    width: 1000px;   
}

/* .content-holder{
    width: 1000px; 
    height: 80px;
}

.section{
    width: 1000px; 
    height: 80px;
} */

.window-content_p-2{
    margin: 5px 0px 0px 0px;
}

label > input {
    display:none; /* アップロードボタンのスタイルを無効にする */
}
  
.c-tooltip {
	position: relative;
	width: 40px;
	height: 60px;
	/* box-shadow: 1px 1px 1px #ccc; */
	z-index: auto;
}

.c-tooltip .box {
	position: absolute;
	width: 120px; /* 吹き出しの幅 */
	height: 70px; /* 吹き出しの高さ */
	top: 76px; /* 画像と三角形の高さをプラスした値 */
	left: 0;
	border-radius: 10px 10px 10px 10px;
	background-color: #5f6368;
	display: none;
}
.c-tooltip .box:after { /* 三角形を作成 */
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: -32px; /* 三角形の高さを２倍した値 */
	left: 8px;
	border: 16px solid transparent;
	border-bottom: 16px solid #5f6368;
}
.c-tooltip .text {
	position: absolute;
	font-size: 16px;
	top: 8px;
	left: 4px;
	color: #fff;
}

.c-tooltip .text1 {
	position: absolute;
	font-size: 12px;
    text-align: left;
	top: 32px;
	left: 4px;
	color: #fff;
}
.c-tooltip:hover .box {
	z-index: 2;
	display: block;
}

.large-tooltip {
	position: relative;
	width: 50px;
	height: 60px;
	/* box-shadow: 1px 1px 1px #ccc; */
	z-index: auto;
}

.large-tooltip .box {
	position: absolute;
	width: 120px; /* 吹き出しの幅 */
	height: 70px; /* 吹き出しの高さ */
	top: 76px; /* 画像と三角形の高さをプラスした値 */
	left: 0;
	border-radius: 10px 10px 10px 10px;
	background-color: #5f6368;
	display: none;
}
.large-tooltip .box:after { /* 三角形を作成 */
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: -32px; /* 三角形の高さを２倍した値 */
	left: 8px;
	border: 16px solid transparent;
	border-bottom: 16px solid #5f6368;
}
.large-tooltip .text {
	position: absolute;
	font-size: 16px;
	top: 8px;
	left: 4px;
	color: #fff;
}

.large-tooltip .text1 {
	position: absolute;
	font-size: 12px;
    text-align: left;
	top: 32px;
	left: 4px;
	color: #fff;
}
.large-tooltip:hover .box {
	z-index: 2;
	display: block;
}

/* .textbox_strokewidth{
    width : 100px;
} */